@{
    Layout = "_Layout";
    ViewBag.Title = "About Us";
}
<link rel="stylesheet" href="/css/AboutUs.css" asp-append-version="true">

<div class="container">
    <div class="wel">
        <div class="text-content">
            <h1>Welcome To EASYSTAYS</h1>
            <p>
                Built in 1910 during the Belle Epoque period, this hotel is located in the center of Paris,
                with easy access to the city's tourist attractions. It offers tastefully decorated rooms.
            </p>
        </div>
        <ul class="features">
            <li>24/7 Availability</li>
            <li>Free Wi-Fi</li>
            <li>Breakfast, Lunch, Dinner</li>
            <li>Add-On Services</li>
            <li>Wellness Facilities</li>
            <li>Valet Parking</li>
        </ul>
    </div>
</div>

<div class="video-section">
    <video autoplay muted loop class="background-video">
        <source src="/img/aboutusVideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="video-content">
        <h1>Discover Our Hotel & Services.</h1>
        <p>It's Hurricane Season But We Are Visiting Hilton Head Island</p>
    </div>
</div>

<div class="container">
    <h1 class="act">All Nearby EASYSTAYS</h1>
    <section class="activities">
        <div class="activity">
            <img src="/img/shoppingmall.jpg" alt="Shopping Mall">
            <h1>Setapak Center</h1>
            <h3>Shopping Mall</h3>
        </div>
        <div class="activity">
            <img src="/img/lrt.jpg" alt="Wangsa Maju LRT">
            <h1>Wangsa Maju LRT</h1>
            <h3>LRT</h3>
        </div>
        <div class="activity">
            <img src="/img/sport.jpg" alt="Lavana Sports Centre">
            <h1>Lavana Sports Centre</h1>
            <h3>Badminton Court</h3>
        </div>
        <div class="activity">
            <img src="/img/chinesefood.jpg" alt="Tang Huo Gong Fu">
            <h1>Tang Huo Gong Fu</h1>
            <h3>Chinese Restaurant</h3>
        </div>
    </section>
</div>
