@{
    Layout = "_Layout2";
    ViewBag.Title = "Change Password";
}
<link rel="stylesheet" href="/css/Account.css" asp-append-version="true">

<div class="profile-container">
    <aside class="sidebar">
        <h1>My Account</h1>
        <ul>
            <li>Profile</li>
            <li>Change Password</li>
            <li>My Booking</li>
        </ul>
    </aside>
    <main class="content">
        <h2>Change Password</h2>
        <div class="profile-content">
            <form class="profile-form">
                <div class="form-group">
                    <label for="username">Old Password</label>
                    <input type="text" id="username" value="raynoldtai123">
                </div>
                <div class="form-group">
                    <label for="name">New Password</label>
                    <input type="text" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Comfirm Password</label>
                    <input type="email" id="email" value="">
                </div>
                <button type="submit" class="save-btn">Submit</button>
            </form>
            <div class="profile-picture" style="height: 150px">
                <div class="picture-placeholder">D</div>
                <h3>Name</h3>
            </div>
        </div>
    </main>
</div>