@model RoomDetailsVM

<section class="menu-section">
    <h2>@ViewBag.SelectedCategory</h2>
    <form class="menu-grid">
        @foreach (var s in ViewBag.FoodServices)
        {
            <div class="menu-item">
                <input type="checkbox" id="classic-omelette" name="breakfast[]" value="Classic Omelette">
                <label for="classic-omelette">
                    <div class="price">RM @s.UnitPrice</div>
                    <h3>@s.ServiceName</h3>
                </label>
                <div class="quantity-container">
                    <label for="classic-omelette-qty">Qty:</label>
                    <input type="number" id="classic-omelette-qty" name="classic-omelette-qty" min="0" value="0">
                </div>
            </div>
        }
    </form>
</section>