@{
    ViewBag.Title = "Home | Index";
}

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Program</th>
        <th></th>
    </tr>
</table>
