@{
    DateOnly min = ViewBag.Min;
    DateOnly max = ViewBag.Max;
}


<table>
    <caption>@min.ToString("MMMM yyyy")</caption>

    <tr>
        <th></th>
        @* Generate headers (dates) *@
        @* TODO *@
        @for (var d = min; d < max; d = d.AddDays(1))
        {
            <th>@d.ToString("dd")</th>
        }
    </tr>

    @* Generate contents (class = x or o) *@
    @foreach (var roomBooking in ViewBag.RoomReservations)
    {
        <tr>
            <td>@roomBooking.Key.RoomNumber</td>
            @for (var d = min; d < max; d = d.AddDays(1))
            {
                var cls = roomBooking.Value.Contains(d) ? "x" : "o";
                <td class="@cls"></td>
            }
        </tr>
    }
</table>

