@model UpdatePasswordVM

@{
    Layout = "_NavigationBar";
    ViewBag.Title = "Change Password";
}
<link href="/css/profile.css" rel="stylesheet" />

<div style="justify-items: center;">
    <div class="profile-card">
        <div class="profile-left">
            <a class="back-button" href="Profile">
                <i class="fas fa-arrow-left"></i>
            </a>
            <img src="/photos/@ViewBag.userImage" alt="Profile Picture" class="profile-pic">
            <h2 class="profile-name">@ViewBag.userName</h2>
            <p class="profile-role">@ViewBag.userRole</p>
        </div>

        <div class="profile-right">
            <h3>Change Password</h3>
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Current"></label>
                    <input asp-for="Current" class="input-field" autofocus>
                    <span asp-validation-for="Current"></span>
                </div>
                <div class="form-group">
                    <label asp-for="New"></label>
                    <input asp-for="New" class="input-field">
                    <span asp-validation-for="New"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Confirm"></label>
                    <input asp-for="Confirm" class="input-field">
                    <span asp-validation-for="Confirm"></span>
                </div>
                <div class="button-container">
                    <button class="btn">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
