@model UpdateProfileVM

@{
    Layout = "_NavigationBar";
    ViewBag.Title = "Edit Admin Profile";
}
<link href="/css/profile.css" rel="stylesheet" />

<div style="justify-items: center;">
    <form class="profile-card" method="post" enctype="multipart/form-data">
        <div class="profile-left">
            <a class="back-button" href="Profile">
                <i class="fas fa-arrow-left"></i>
            </a>
            <!-- Current Profile Picture -->
            <label class="profile-pic-label">
                <input asp-for="Photo" accept="image/jpeg,image/png" hidden>
                <img src="/photos/@Model.UserImage" class="profile-pic">
            </label>
            <span asp-validation-for="Photo"></span>
            <h2 class="profile-name">John Doe</h2>
            <p class="profile-role">Web Developer</p>
        </div>
        <div class="profile-right">
            <h3>Profile Details</h3>
            <div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="input-field">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="input-field">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="input-field">
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="button-container">
                    <button type="submit" class="btn">Save Changes</button>
                </div>
            </div>
        </div>
    </form>
</div>
