
/* Header Section */
.header-section {
    position: relative;
    height: 600px;
    width: auto;
    background-image: url('../img/HomePage/KLView.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    position: absolute;
    top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding-left: 2%;
}

    .logo a {
        color: white;
        text-decoration: none;
    }

.nav-links {
    display: flex;
    gap: 40px;
    margin: auto;
}

    .nav-links a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        transition: color 0.3s;
    }

        .nav-links a:hover {
            color: black;
        }

.nav-login {
    padding-right: 50px;
    font-weight: bold;
}

    .nav-login a:hover {
        color: black;
    }

.login-button {
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header-content .welcome-text {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.header-content .header-heading {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

/* Footer Section */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
}

    .footer-left ul {
        list-style-type: none;
        padding: 0;
    }

        .footer-left ul li {
            margin: 10px 0;
            display: inline-block;
        }

    .footer-left a,
    .footer-center a {
        color: white;
        text-decoration: none;
    }

        .footer-left a:hover,
        .footer-center a:hover {
            text-decoration: underline;
        }

.social-icon {
    font-size: 24px;
    color: white;
    margin: 0px 10px;
}

    .social-icon:hover {
        color: #007bff;
    }

.footer-center p {
    margin: 5px 0;
}

.footer-right .footer-logo {
    max-width: 150px;
}

.footer-right p {
    margin-top: 10px;
}