/* Info */
.info {
    position: fixed;
    background: #666;
    color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 20px;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, 0);
    top: -100px;
    opacity: 0;
    z-index: 1000;
}

    .info:not(:empty) {
        animation: fade 5s;
    }

@keyframes fade {
    0% {
        top: -100px;
        opacity: 0;
    }

    10% {
        top: 100px;
        opacity: 1;
    }

    90% {
        top: 100px;
        opacity: 1;
    }

    100% {
        top: -100px;
        opacity: 0;
    }
}

/* Header Section */
.header-section {
    position: relative;
    height: 600px;
    width: auto;
    background-image: url('../img/KLView.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    position: absolute;
    top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding-left: 2%;
}

    .logo a {
        color: white;
        text-decoration: none;
    }

.nav-links {
    display: flex;
    gap: 40px;
    margin: auto;
}

    .nav-links a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        transition: color 0.3s;
    }

        .nav-links a:hover {
            color: black;
        }

.nav-login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin-right: 50px;
}

    .nav-login .more-icon i {
        font-size: 20px;
        color: white;
        transition: color 0.3s ease;
    }

    .nav-login .more-icon:hover i {
        color: black;
    }

    .nav-login .user-details {
        display: flex;
        justify-content: center;
    }

        .nav-login .user-details label {
            color: black;
        }

        .nav-login .user-details .image img {
            width: 40px;
            height: 45px;
            width: 45px;
            border-radius: 10px;
            object-fit: cover;
            border: 2px solid #ccc;
        }

        .nav-login .user-details .profile-info {
            margin: 10px;
            display: flex;
            flex-direction: column;
        }

    .nav-login .dropdown-toggle {
        display: none;
    }

    .nav-login .account-dropdown {
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        display: none;
        width: 160px;
        z-index: 1000;
    }

    .nav-login .dropdown-toggle:checked ~ .account-dropdown {
        display: block;
    }

    .nav-login .account-dropdown__body,
    .nav-login .account-dropdown__footer {
        padding: 10px;
    }

    .nav-login .account-dropdown__item,
    .nav-login .account-dropdown__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

        .nav-login .account-dropdown__item a,
        .nav-login .account-dropdown__footer a {
            text-decoration: none;
            color: #333;
            font-size: 14px;
            transition: color 0.3s;
            display: flex;
            align-items: center;
            gap: 8px;
        }

            .nav-login .account-dropdown__item a:hover,
            .nav-login .account-dropdown__footer a:hover {
                color: #007bff;
            }

    .nav-login .login-button {
        margin-right: 20px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        transition: color 0.3s;
    }

        .nav-login .login-button:hover {
           color: black;
        }

.header-content .welcome-text {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.header-content .header-heading {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

/* Footer Section */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
}

    .footer-left ul {
        list-style-type: none;
        padding: 0;
    }

        .footer-left ul li {
            margin: 10px 0;
            display: inline-block;
        }

    .footer-left a,
    .footer-center a {
        color: white;
        text-decoration: none;
    }

        .footer-left a:hover,
        .footer-center a:hover {
            text-decoration: underline;
        }

.social-icon {
    font-size: 24px;
    color: white;
    margin: 0px 10px;
}

    .social-icon:hover {
        color: #007bff;
    }

.footer-center p {
    margin: 5px 0;
}

.footer-right .footer-logo {
    max-width: 150px;
}

.footer-right p {
    margin-top: 10px;
}