body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Booking Section */
.booking-section {
    position: relative;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.booking-form {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    gap: 5px;
}

    .form-group label {
        font-size: 14px;
        color: #333;
    }

    .form-group .day {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

input,
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
}

    .btn:hover {
        background-color: grey;
    }

/* About us */
.about-us-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f4f4f4;
}

.about-us-text {
    max-width: 50%;
}

    .about-us-text h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .about-us-text p {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 10px;
    }

.about-us-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 500px;
}

.about-us-image {
    width: 48%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

/* Service Section */
.services {
    text-align: center;
    padding: 50px 20px;
}

.services-title {
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

.service-item {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

    .service-item:hover {
        transform: translateY(-10px);
    }

.service-icon {
    font-size: 50px;
    color: #ffd700;
    margin-bottom: 20px;
}

/* Menu Items */
.food-section {
    background-image: url('/img/restaurant.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    padding: 30px 15px;
    text-align: center;
    position: relative;
}

    .food-section h1,
    .food-section p {
        position: relative;
        z-index: 2;
    }

.menu-nav {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

    .menu-nav a {
        color: white;
        text-decoration: none;
        padding: 12px 25px;
        margin: 0 10px;
        font-weight: bold;
        border-radius: 5px;
        transition: all 0.3s ease;
        z-index: 2;
    }

        .menu-nav a:hover {
            background-color: grey;
            transform: scale(1.05);
        }

        .menu-nav a.active {
            background-color: #ffa500;
            color: #fff;
        }

.menu-section h2 {
    z-index: 2;
}

.menu-section {
    padding: 30px;
    max-width: 850px;
    margin: 20px auto;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease-in-out;
}

    .menu-section.active {
        display: block;
        transform: scale(1.02);
    }

    .menu-section h2 {
        border-bottom: 3px solid #ffa500;
        padding-bottom: 15px;
        margin-bottom: 25px;
        font-size: 1.8em;
        color: whitesmoke;
        text-align: center;
    }

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
}

.menu-item {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

    .menu-item:hover {
        transform: translateY(-20px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .menu-item .price {
        font-size: 1.4em;
        font-weight: bold;
        color: #ffd700;
        margin-bottom: 12px;
    }

    .menu-item .item-title {
        font-size: 1.2em;
        font-weight: bold;
        color: white;
        margin-bottom: 12px;
    }

    .menu-item .item-description {
        font-size: 0.95em;
        color: white;
        line-height: 1.5;
    }

/* Room */
.room-grid {
    display: flex;
    flex-wrap: nowrap;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    overflow-x: auto;
    overflow-y: hidden;
    gap: 20px;
    max-width: auto;
    max-height: 450px;
    margin: 0 auto;
    padding: 40px;
    scroll-behavior: smooth;
}

    .room-grid::-webkit-scrollbar {
        display: none;
    }

.room-card {
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 450px;
    background: #fff;
}

.room-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

.room-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.7));
    color: white;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.room-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    color: white;
    padding: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room-card:hover .room-details {
    opacity: 1;
}

.room-card:hover .room-image {
    transform: scale(1.05);
}

.room-title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.room-price {
    font-size: 1.5rem;
    color: #ffd700;
}

.detail-item {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

.more-details {
    margin-top: 1rem;
    margin-right: 80px;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    text-align: center;
    background: #ffd700;
    color: black;
    border: none;
    border-radius: 4px;
}

    .more-details:hover {
        background: #ffed4a;
    }

/* Book Section*/
.book-section {
    position: relative;
    height: 300px;
    background: url('../img/book.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

    .book-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

.book-content {
    position: relative;
    z-index: 2;
}

    .book-content h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    }

.book-button {
    background: transparent;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

    .book-button:hover {
        background: white;
        color: black;
    }
