/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url('../img/login_img.jpg');
    background-size: cover;
}

.login-container {
    min-height: 90vh;
    display: flex;
}

/* Form popup styles */
.form-popup {
    position: relative;
    margin: auto;
    max-width: 720px;
    width: 100%;
    background: #fff;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1px;
}

    /* Form box styles */
    .form-popup .form-box {
        display: flex;
    }

.form-box .form-details {
    width: 100%;
    color: #fff;
    max-width: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .form-details {
    padding: 0 40px;
    background-color: #4d4d4d;
    background-position: center;
    background-size: cover;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 29px;
}

.form-content .back {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    line-height: 1;
    color: #717171;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.2s ease;
}

    .form-content .back:hover {
        color: #00bcd4;
        text-decoration: none;
    }

.input-field {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

    .input-field input {
        height: 50px;
        width: 100%;
        background: none;
        outline: none;
        font-size: 0.95rem;
        padding: 16px 15px 0;
        border: 1px solid #717171;
        border-radius: 3px;
        transition: border 0.3s;
    }

        .input-field input:focus {
            border: 1px solid #00bcd4;
        }

    .input-field label {
        position: absolute;
        top: 16px;
        left: 15px;
        color: #4a4646;
        pointer-events: none;
        transition: 0.2s ease;
    }

    .input-field label{
        top: 6px;
        color: #00bcd4;
        font-size: 0.75rem;
    }

    .input-field span {
        color: red;
        font-size: 0.9em;
        display: block;
        margin-top: 5px;
    }

        .input-field span:not(:empty) {
            margin-bottom: 10px;
        }

.form-box a {
    color: #00bcd4;
    text-decoration: none;
}

    .form-box a:hover {
        text-decoration: underline;
    }

form :where(.forgot-pass-link, .policy-text) {
    display: inline-flex;
    font-size: 0.95rem;
}

form button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 10px;
    background: #00bcd4;
    transition: 0.2s ease;
}

    form button:hover {
        background: #0097a7;
    }

.form-content .bottom-link {
    text-align: center;
}
