body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-image: url('/img/HomePage/payment.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
}

/* Header Section */
.navbar {
    position: relative;
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding-left: 2%;
}

    .logo a {
        color: white;
        text-decoration: none;
    }

.nav-links {
    display: flex;
    gap: 40px;
    margin: auto;
}

    .nav-links a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        transition: color 0.3s;
    }

        .nav-links a:hover {
            color: rgb(234, 228, 228);
        }

.nav-login {
    padding-right: 50px;
    font-weight: bold;
}

    .nav-login a:hover {
        color: rgb(234, 228, 228);
    }

.login-button {
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}



.checkout-container {
    margin: 20px auto;
    max-width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

em {
    font-style: normal;
    font-weight: 700;
}

hr {
    color: #fff;
    margin-bottom: 1.2rem;
}

/* Left Side Of Container */
.left-side {
    background: url('/img/HomePage/payment.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box {
    background: rgba(95, 121, 134, 0.8);
    width: 80%;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 0;
}

/* Left container text */

.home-heading {
    color: #e8e8e1;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1rem;
}

.home-des {
    color: #aeae97;
    font-size: 28px;
    margin-bottom: 1.2rem;
}


/* Right Side of container */

.right-side {
    background-color: #fff;
    padding: 1.8rem 3.2rem;
}

.receipt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: solid 1px;
    margin-bottom: 1rem;
}

.receipt-heading {
    font-size: 1.6rem;
    text-align: left;
}

.table {
    border-collapse: separate;
    border-spacing: 0 1.5rem;
    color: #64645f;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.total td {
    font-size: 1.4rem;
    font-weight: 700;
}

.price {
    text-align: end;
}

/* Payment Section */

.payment-heading {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.form-box {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1.5rem;
}

.card-logo {
    font-size: 2rem;
}

.expires,
.form-box label {
    font-size: 1.2rem;
    font-weight: 700;
}

.form-box input {
    font-family: inherit;
    font-size: 20px;
    padding: 0.5rem;
    width: 100%;
}

.form-box select {
    padding: 0.5rem;
    font-size: 20px;
}

.form-box #cvv {
    width: 25%;
}

.btn {
    background-color: #4c616b;
    border: none;
    border-radius: 8px;
    color: #eff2f3;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
    padding: 1.5rem;
    cursor: pointer;
}

    .btn:hover {
        background-color: #5f7986;
        transition: ease-out 0.1s;
    }

.footer-text {
    font-size: 1rem;
    text-align: center;
}

.form-box *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(139, 139, 107, 0.5);
    border-radius: 8px;
}




/* Footer Section */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
}

    .footer-left ul {
        list-style-type: none;
        padding: 0;
    }

        .footer-left ul li {
            margin: 10px 0;
            display: inline-block;
        }

    .footer-left a,
    .footer-center a {
        color: white;
        text-decoration: none;
    }

        .footer-left a:hover,
        .footer-center a:hover {
            text-decoration: underline;
        }

.social-icon {
    font-size: 24px;
    color: white;
    margin: 0px 10px;
}

    .social-icon:hover {
        color: #007bff;
    }

.footer-center p {
    margin: 5px 0;
}

.footer-right .footer-logo {
    max-width: 150px;
}

.footer-right p {
    margin-top: 10px;
}