.profile-card {
    display: flex;
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    width: 80%;
    min-height: 700px;
    margin-top: 80px;
}

.profile-left {
    background-color: #252525;
    text-align: center;
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.back-button {
    position: absolute !important;
    top: 10px !important;
    left: 10px !important;
    background: none !important;
    border: none !important;
    color: white !important;
    font-size: 24px !important;
    cursor: pointer !important;
    transition: color 0.3s !important;
    padding: 35px !important;
}

.back-button:hover {
    color: #4CAF50 !important;
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid #4CAF50;
    margin-bottom: 15px;
}

.profile-name {
    font-size: 2.3em;
    margin: 0;
    color: white;
}

.profile-role {
    color: #4CAF50;
    font-size: 1.8em;
}

.profile-right {
    padding: 85px;
    width: 60%;
}

h3 {
    color: #4CAF50;
    margin-bottom: 25px;
    font-size: 40px;
}

p {
    margin: 10px 0;
    font-size: 24px;
    color: white;
}

.brand {
    color: #4CAF50;
}

/* Button Styles */
.button-container {
    margin-top: 90px;
    display: flex;
    gap: 35px;
}

.btn {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

/*Input Form*/
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #aaa;
}

.input-field {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: #ffffff;
}

.input-field:focus {
    outline: none;
    border-color: #4CAF50;
}