<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/images/logoIcon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUa1z2kSU1z3Ik3KzE0pXq5p5P1ltRWUMJxczEwFUd5P6q2wzkPU1uh3tj6a" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/navigationBar.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/table.css" asp-append-version="true">
    @RenderSection("head", false)
</head>
<body>
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="/Admin/Dashboard">
                <img src="/images/logo.png" alt="EASYSTAYS" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li>
                        <a href="/Admin/Dashboard">
                            <i class="fas fa-home"></i>Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/RoomCategory">
                            <i class="fas fa-door-open"></i>Room Category
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Rooms">
                            <i class="fas fa-bed"></i>Rooms
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Services">
                            <i class="fas fa-utensils"></i>Services
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Bookings">
                            <i class="fas fa-calendar-check"></i>Bookings
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Reviews">
                            <i class="fas fa-comment-alt"></i>Reviews
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Users">
                            <i class="fas fa-users"></i>Users
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

    <main>
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="/images/icon.jpg"/>
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">Lisa</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="/images/icon.jpg" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">Lisa</a>
                                                    </h5>
                                                    <span class="email">lisa@example.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="/Admin/Profile">
                                                        <i class="fas fa-user"></i>Account
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="fas fa-power-off"></i>Logout
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <div class="main-content">
                <div class="section__content section__content--p30">
                    @RenderBody()
                </div>
            </div>
      
        </div>
    </main>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="/js/app.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    @RenderSection("foot", false)
</body>
</html>
