@{
    Layout = "_NavigationBar";
    ViewBag.Title = "Change Password";
}
<link href="/css/profile.css" rel="stylesheet" />

<div style="justify-items: center;">
    <div class="profile-card">
        <div class="profile-left">
            <button class="back-button">
                <i class="fas fa-arrow-left"></i>
            </button>
            <img src="/images/icon.jpg" alt="Profile Picture" class="profile-pic">
            <h2 class="profile-name">John Doe</h2>
            <p class="profile-role">Web Developer</p>
        </div>

        <div class="profile-right">
            <h3>Change Password</h3>
            <form>
                <div class="form-group">
                    <label for="password"><strong>Old Password:</strong></label>
                    <input type="password" id="password" name="password" class="input-field">
                </div>
                <div class="form-group">
                    <label for="password"><strong>New Password:</strong></label>
                    <input type="password" id="password" name="password" class="input-field">
                </div>
                <div class="form-group">
                    <label for="password"><strong>Comfirm Password:</strong></label>
                    <input type="password" id="password" name="password" class="input-field">
                </div>
                <div class="button-container">
                    <button type="submit" class="btn">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
