@{
    ViewBag.Title = "Payment Success";
}

<div class="card">
    <a href="/Account/BookingHistory" class="close-button">×</a>
    <div class="circle">
        <i class="checkmark">✓</i>
    </div>
    <h1>Success</h1>
    <p>We received your purchase request;<br /> we'll be in touch shortly!</p>
</div>

<style>
    body {
        background: #EBF0F5;
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        text-align: center;
        width: 400px;
        margin: auto;
        position: relative;
    }

    .circle {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        background: #F8FAF5;
        margin: 0 auto 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .checkmark {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin: 0;
    }

    h1 {
        color: #88B04B;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
        text-align: center;
    }

    p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        margin: 0;
        text-align: center;
    }

    .close-button {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #88B04B;
        color: white;
        text-decoration: none;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .close-button:hover {
            background-color: #7a9b42;
            text-decoration: none;
            color: white;
        }
</style>