@model LoginVM

<div class="title">Login</div>
<form method="post">
    <div class="input-boxes">
        <div class="input-box">
            <i class="fas fa-envelope"></i>
            <input asp-for="Email" autofocus />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="input-box">
            <i class="fas fa-lock"></i>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="text">
            <input asp-for="RememberMe" /> Remember Me
        </div>
        <div class="text">
            <a href="#">Forgot password?</a>
        </div>

        <button class="button input-box">Login</button>
        <div class="text sign-up-text">
            Don't have an account? <label for="flip">Sign up now</label>
        </div>
    </div>
</form><partial name="_Login">