@model ResetPasswordVM

@{
    Layout = "_Layout2";
    ViewBag.Title = "Reset Password";
}
<link rel="stylesheet" href="/css/LoginRegister.css" asp-append-version="true">

<div class="login-container">
    <div class="form-popup">
        <div class="form-box login">
            <div class="form-details">
                <h2>Welcome Back</h2>
                <p>Please log in using your personal information to stay connected with us.</p>
            </div>
            <div class="form-content">
                <h2>RESET PASSWORD</h2>
                <form method="post">
                    <input type="hidden" name="Token" value="@Model.Token" />
                    <div class="input-field">
                        <input asp-for="NewPassword" autofocus />
                        <span asp-validation-for="NewPassword"></span>
                        <label asp-for="NewPassword"></label>
                    </div>
                    <div class="input-field">
                        <input asp-for="ConfirmPassword" />
                        <span asp-validation-for="ConfirmPassword"></span>
                        <label asp-for="ConfirmPassword"></label>
                    </div>

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>