@model SendEmailVM

@{
    Layout = "_Layout2";
    ViewBag.Title = "Reset Password";
}
<link rel="stylesheet" href="/css/LoginRegister.css" asp-append-version="true">

<div class="form-popup" style="margin: 180px auto;">
    <div class="form-box login">
        <div class="form-details">
            <h2>Welcome Back</h2>
            <p>Please log in using your personal information to stay connected with us.</p>
        </div>
        <div class="form-content">
            <h2>RESET PASSWORD</h2>
            <a href="/Account/Login" class="back">X</a>
            <form method="post">
                <div class="input-field">
                    <input asp-for="Email" autofocus/>
                    <span asp-validation-for="Email"></span>
                    <label asp-for="Email"></label>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>