@model UpdatePasswordVM

@{
    Layout = "_Layout2";
    ViewBag.Title = "Change Password";
}
<link rel="stylesheet" href="/css/Account.css" asp-append-version="true">

<div class="profile-container">
    <aside class="sidebar">
        <h1>My Account</h1>
        <ul>
            <li><a href="Profile">Profile</a></li>
            <li><a href="UpdatePassword">Change Password</a></li>
            <li><a href="BookingHistory">My Booking</a></li>
        </ul>
    </aside>
    <main class="content">
        <h2>Change Password</h2>
        <div class="profile-content">
            <form class="profile-form" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Current"></label>
                    <input asp-for="Current" autofocus>
                    <span asp-validation-for="Current"></span>
                </div>
                <div class="form-group">
                    <label asp-for="New"></label>
                    <input asp-for="New">
                    <span asp-validation-for="New"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Confirm"></label>
                    <input asp-for="Confirm">
                    <span asp-validation-for="Confirm"></span>
                </div>
                <button class="save-btn">Submit</button>
            </form>
            <div class="profile-picture" style="height: 150px">
                <img src="/photos/@ViewBag.userImage" class="picture-placeholder">
                <label>@ViewBag.userName</label>
            </div>
        </div>
    </main>
</div>